<!doctype html>
<html lang="ko">
<html xmlns:th="http://www.thymleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"></html>
<head>
    <th:block th:include="/include/common_css.html"></th:block>
    <style>
        #gap {
            margin-top: 120px;
            margin-bottom: 50px;
        }

        .hover:hover {
            color: #a367e7;
        }

        .backcol {
            background: #1e1e1e;
            border: #1e1e1e;
        }
        .backcol:hover{
            background: #a367e7;
            border: #a367e7;
        }

    </style>
</head>
<body>
<!-- Preloader Start -->
<!--<th:block th:include="/include/preloader.html"></th:block>-->

<th:block th:include="/include/community_header.html"></th:block>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" id="gap">
            <h1 class="text-center">Q & A 게시판</h1>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 offset-1">
            <table class="table table">
                <thead class="text-center">
                <tr>
                    <th>NO</th>
                    <th>TITLE</th>
                    <th>DATE</th>
                </tr>
                </thead>
                <tbody class="text-center">
                <tr th:each="list:${questionList}">
                    <td th:text="${list.id}">NO</td>
                    <td><a th:href="@{|/community/qnadetail/${list.id}|}" th:text="${list.subject}" class="black-color hover">TITLE</a></td>
                    <td th:text="${list.createDate}"}>DATE</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 offset-9">
            <button class="btn-primary backcol"><a th:href="@{/question/create}">질문 등록하기</a></button>
    </div>
</div>

</body>
</html>

