<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/include/common_css.html"></th:block>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <style>
        #gap {
            margin-top: 80px;
            margin-bottom: 50px;
        }

        .hover:hover {
            color: #a367e7;
        }

        .backcol {
            background: #1e1e1e;
            border: #1e1e1e;
        }
        .backcol:hover{
            background: #a367e7;
            border: #a367e7;
        }
        .fontcolors {
            margin-top:40px;
            margin-bottom: 40px;
            font-size: 15px;
        }

        .page-link {
            color: #000;
            background-color: #fff;
            border: 1px solid #ccc;
        }
        .page-item.active .page-link {
            z-index: 1;
            color: #555;
            font-weight:bold;
            background-color: #f1f1f1;
            border-color: #ccc;

        }
        .page-link:focus, .page-link:hover {
            color: #000;
            background-color: #fafafa;
            border-color: #ccc;
        }


        .repImgDiv{
            margin-right:15px;
            height:auto;
            width:50%;
        }
        .repImg{
            width:100%;
            height:400px;
        }

        .repImgDiv{
            margin-right:15px;
            height:auto;
            width:50%;
        }
        .repImg{
            width:100%;
            height:400px;
        }

        .repImgDiv{
            margin-right:15px;
            margin-left:15px;
            height:auto;
        }
        .repImg{
            height:100px;
            width:100px;
        }
        .card{
            width:750px;
            height:100%;
            padding:30px;
            margin-bottom:20px;
        }
        .fs18{
            font-size:18px
        }

        .fs14 {
            font-size:14px;
        }
        .fswe{
            font-size:19px;
            font-weight: 500;
        }
        .inputwidth {
            width:40vw;
        }

    </style>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<body>
<th:block th:include="/include/header.html"></th:block>

<section class="latest-product-area">

    <div class="container">
        <div class="row product-btn d-flex text-start" id="gap">
            <!-- Section Tittle -->
            <div class="col-lg-10 col-md-10 col-sm-10 offset-1 mb-2">
                <div class="section-tittle mb-30">
                    <h2>PERSONAL INFO</h2>
                </div>
            </div>
        </div>
        <div class="row col-12 mt-40 text-start justify-content-start ">

            <table>
                <colgroup>
                    <col style="width:150px;">
                    <col style="width:auto;">
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row">아이디 <img src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif" alt="필수"></th>
                    <td>
                        <input id="member_id" name="member_id" fw-filter="isFill&amp;isFill&amp;isMin[4]&amp;isMax[16]&amp;isIdentity" fw-label="아이디" fw-msg="" class="" placeholder="" readonly="readonly" value="" type="text">
                    </td>
                </tr>
                <tr>
                    <th><hr></th>
                    <td><hr></td>
                </tr>
                <tr>
                    <th scope="row">새 비밀번호</th>
                    <td><input id="passwd" name="passwd" fw-filter="isMin[4]&amp;isMax[16]" fw-label="비밀번호" fw-msg="" autocomplete="off" maxlength="16" disabled="1" value="" type="password"> (영문 대소문자/숫자/특수문자 중 2가지 이상 조합, 10자~16자)</td>
                </tr>
                <tr>
                    <th><hr></th>
                    <td><hr></td>
                </tr>
                <tr class="">
                    <th scope="row">새 비밀번호 확인</th>
                    <td><input id="user_passwd_confirm" name="user_passwd_confirm" fw-filter="isMatch[passwd]" fw-label="비밀번호 확인" fw-msg="비밀번호가 일치하지 않습니다." autocomplete="off" maxlength="16" disabled="1" value="" type="password"> <span id="pwConfirmMsg"></span>
                        </td>
                </tr>
                <tr>
                    <th><hr></th>
                    <td><hr></td>
                </tr>

                <tr>
                    <th scope="row">이메일 <img src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif" alt="필수"></th>
                    <td>
                        <input id="email1" name="email1" fw-filter="isFill&amp;isEmail" fw-label="이메일" fw-alone="N" fw-msg="" value="" type="text"> <span id="emailMsg"></span>
                        <p class="displaynone">이메일 주소 변경 시 로그아웃 후 재인증을 하셔야만 로그인이 가능합니다.<br>인증 메일은 24시간 동안 유효하며, 유효 시간이 만료된 후에는 가입 정보로 로그인 하셔서 재발송 요청을 해주시기 바랍니다.</p>
                    </td>
                </tr>
                <tr>
                    <th><hr></th>
                    <td><hr></td>
                </tr>

                <tr>
                    <th scope="row">이름  <img src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif" alt="필수"></th>
                    <td>
                        <input id="nickname" name="nickname" class="" type="text">
                    </td>
                </tr>
                <tr>
                    <th><hr></th>
                    <td><hr></td>
                </tr>
                <tr class="">
                    <th scope="row">주소 <img src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif" class="" alt="필수"></th>
                    <td>
                        <input id="postcode1" name="postcode1" fw-filter="isLengthRange[1][14]" fw-label="우편번호1" fw-msg="" class=" mb-1" placeholder="" readonly="readonly" maxlength="14" value="" type="text">
                        <a href="#none" onclick="ZipcodeFinder.Opener.bind('postBtn', 'postcode1', 'postcode2', 'addr1', 'layer', 'ko_KR');" id="postBtn"><img src="//img.echosting.cafe24.com/skin/base_ko_KR/member/btn_zipcode.gif" alt="우편번호"></a><br>
                        <input id="addr1" name="addr1" fw-filter="isFill" fw-label="주소" fw-msg="" class="inputwidth mb-1" placeholder="" readonly="readonly" value="" type="text"> 기본주소<br>
                        <input id="addr2" name="addr2" fw-filter="" fw-label="주소" fw-msg="" class="inputwidth mb-1" placeholder="" value="" type="text"> 나머지주소               </td>
                </tr>
                <tr>
                    <th><hr></th>
                    <td><hr></td>
                </tr>
                <tr class="">
                    <th scope="row">전화번호</th>
                    <td>
                        <input id="comphone" name="comphone" class="" type="text">
                    </td>
                </tr>
                <tr>
                    <th><hr></th>
                    <td><hr></td>
                </tr>

                <tr class="">
                    <th scope="row">생년월일 </th>
                    <td>
                        <input id="birth" name="birth" class="" type="date">
                    </td>
                </tr>
                <tr>
                    <th><hr></th>
                    <td><hr></td>
                </tr>
                <tr class="displaynone">
                    <th scope="row">환불계좌 </th>
                    <td>
                        <span id=""></span> <a href="#none"><img src="//img.echosting.cafe24.com/skin/base_ko_KR/member/btn_account_change.gif"
                                                                 alt="환불계좌변경" id="id_has_bank_img" class="displaynone">   <img src="//img.echosting.cafe24.com/skin/base_ko_KR/member/btn_account.gif"
                                                                                                                            alt="환불계좌등록" id="id_reg_bank_img" class="displaynone"></a>
                    </td>
                </tr>
                <tr>
                    <th><hr></th>
                    <td><hr></td>
                </tr>
                <tr class="">
                    <th scope="row">SMS 수신여부 <img src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif" alt="필수"></th>
                    <td><input id="is_sms0" name="is_sms" fw-filter="isFill" fw-label="is_sms" fw-msg="" value="T" type="radio"><label for="is_sms0">수신함</label>
                        <input id="is_sms1" name="is_sms" fw-filter="isFill" fw-label="is_sms" fw-msg="" value="F" type="radio" checked="checked"><label for="is_sms1">수신안함</label><p class="fs14">율스샵에서 제공하는 유익한 이벤트 소식을 SMS로 받으실 수 있습니다.</p>
                        </td>
                </tr>
                <tr>
                    <th><hr></th>
                    <td><hr></td>
                </tr>

                <tr class="">
                    <th scope="row">이메일 수신여부 <img src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif" alt="필수"></th>
                    <td><input id="is_news_mail0" name="is_news_mail" fw-filter="isFill" fw-label="is_news_mail" fw-msg="" value="T" type="radio"><label for="is_news_mail0">수신함</label>
                        <input id="is_news_mail1" name="is_news_mail" fw-filter="isFill" fw-label="is_news_mail" fw-msg="" value="F" type="radio" checked="checked"><label for="is_news_mail1">수신안함</label><p class="fs14">율스샵에서 제공하는 유익한 이벤트 소식을 이메일로 받으실 수 있습니다.</p>
                    </td>
                </tr>
                <tr>
                    <th><hr></th>
                    <td><hr></td>
                </tr>
                </tbody>
            </table>


<!--            <div class="displaynone">-->
<!--                <h3>개인정보 제3자 제공 동의(선택)</h3>-->
<!--                <div class="ec-base-box typeThinBg agreeArea">-->
<!--                    <div class="content">-->
<!--                        아래 내용의 동의 여부는 회원가입에 영향을 미치지 않습니다. 단, 동의 거부시 서비스 이용에 제한이 있을 수 있습니다.<br>-->
<!--                        <br>-->
<!--                        - 제공 받는 자 :<br>-->
<!--                        <br>-->
<!--                        - 제공 항목 :<br>-->
<!--                        <br>-->
<!--                        - 제공 목적 :<br>-->
<!--                        <br>-->
<!--                        - 보유 및 이용기간 :<br>-->
<!--                    </div>-->
<!--                    <p class="check"><span>개인정보 제3자 제공에 동의하십니까?</span> <input id="agree_information_check0" name="agree_information_check[]" fw-filter="" fw-label="개인정보 제3자 제공 동의" fw-msg="" value="1" type="checkbox"><label for="agree_information_check0">동의함</label></p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="displaynone">-->
<!--                <h3>개인정보 처리 위탁 동의(선택)</h3>-->
<!--                <div class="ec-base-box typeThinBg agreeArea">-->
<!--                    <div class="content">-->
<!--                        아래 내용의 동의 여부는 회원가입에 영향을 미치지 않습니다. 단, 동의 거부시 서비스 이용에 제한이 있을 수 있습니다.<br>-->
<!--                        <br>-->
<!--                        - 위탁받는 자(수탁업체) :<br>-->
<!--                        <br>-->
<!--                        - 위탁업무의 내용:<br>-->
<!--                    </div>-->
<!--                    <p class="check"><span>개인정보 처리 위탁에 동의하십니까?</span> <input id="agree_consignment_check0" name="agree_consignment_check[]" fw-filter="" fw-label="개인정보 처리 위탁 동의" fw-msg="" value="1" type="checkbox"><label for="agree_consignment_check0">동의함</label></p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="ec-base-button justify" style="margin-top:20px;">-->
<!--                <a href="#none" onclick="memberEditAction()" class="dj-btn-3 btn_modify">Modify&lt;!&ndash;<img src="//img.echosting.cafe24.com/skin/base_ko_KR/member/btn_modify_member.gif" alt="회원정보수정" />&ndash;&gt;</a>-->
<!--                <a href="/index.html" class="dj-btn-3 btn_modify">Cancel&lt;!&ndash;<img src="//img.echosting.cafe24.com/skin/base_ko_KR/member/btn_modify_cancel.gif" alt="취소" />&ndash;&gt;</a>-->
<!--                <span class="gRight">-->
<!--            <a href="#none" onclick="memberDelAction(1000, -1, -1)" class="dj-btn-3 btn_modify">Withdrawal&lt;!&ndash;<img src="//img.echosting.cafe24.com/skin/base_ko_KR/member/btn_modify_out.gif" alt="회원탈퇴" />&ndash;&gt;</a>-->
<!--        </span>-->
<!--            </div>-->
<!--            <div class="layerLeave ec-base-layer" id="">-->

<!--                <div class="header">-->
<!--                    <h3>회원탈퇴</h3>-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <div class="ec-base-box typeMember">-->
<!--                        <div class="information">-->
<!--                            <strong class="title">혜택 내역</strong>-->
<!--                            <div class="description">-->
<!--                                <ul>-->
<!--                                    <li id="">탈퇴시 보유하고 있는 적립금은 모두 삭제됩니다.</li>-->
<!--                                    <li>현재 적립금 : <strong id="" class="txtEm">0</strong>-->
<!--                                    </li>-->
<!--                                    <li id="">현재 예치금 : <strong id="" class="txtEm">0</strong>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <h4>회원탈퇴 사유</h4>-->
<!--                    <div class="ec-base-table typeWrite">-->
<!--                        <table border="1" summary="">-->
<!--                            <caption>회원탈퇴 사유</caption>-->
<!--                            <colgroup>-->
<!--                                <col style="width:140px;">-->
<!--                                <col style="width:auto;">-->
<!--                            </colgroup>-->
<!--                            <tbody>-->
<!--                            <tr>-->
<!--                                <th scope="row">선택</th>-->
<!--                                <td></td>-->
<!--                            </tr>-->
<!--                            <tr id="">-->
<!--                                <th scope="row">기타</th>-->
<!--                                <td></td>-->
<!--                            </tr>-->
<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="ec-base-button">-->
<!--                    <a href="#none" id=""><img src="//img.echosting.cafe24.com/skin/base_ko_KR/member/btn_leave.gif" alt="탈퇴"></a>-->
<!--                    <a href="#none" onclick="$('#').hide();"><img src="//img.echosting.cafe24.com/skin/base_ko_KR/member/btn_leave_cancel.gif" alt="취소"></a>-->
<!--                </div>-->
<!--                <a href="#none" class="close" onclick="$('#').hide();"><img src="//img.echosting.cafe24.com/skin/base/common/btn_close.gif" alt="닫기"></a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <input type="hidden" name="agree_information_check_display" value="T"><input type="hidden" name="agree_consignment_check_display" value="T"></form>-->


    </div>
    </div>
</section>
<th:block th:include="include/user_footer.html"/>

<th:block th:include="/include/common_js.html"></th:block>
</body>
</html>